<html>
<head>
    <title>Site with IDENTITY</title>
    <link rel="stylesheet" type="text/css" href="~/styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <h3>Site for testing ASP.NET Core IDENTITY</h3>
        <hr />
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>