@model SignUpViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>SignUp</h4>

<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Pswd"></label>
        <input asp-for="Pswd" />
        <span asp-validation-for="Pswd"></span>
    </div>
    <div>
        <label asp-for="Repeat"></label>
        <input asp-for="Repeat" />
        <span asp-validation-for="Repeat"></span>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
